.account {
  margin: 4px 0;
  padding: 0 15px;
  border-right: solid 1px #797979;
  line-height: 25px;
}

.account-link {
  color: #d9d9d9;
  font-size: 12px;
}

.account-separator {
  margin: 0 10px;
  font-size: 10px;
}
