* {
  margin: 0;
  padding: 0;
}

body {
  color: #797979;
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
}

h1,
h2,
h3 {
  color: #252525;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
